@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto&display=swap");

@font-face {
  font-family: anton;
  src: url(../font/Anton-Regular.ttf);
}
/* Global */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 610px 300px;
}

.cta {
  background-color: #8c4300;
  border: none;
  color: white;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  border-radius: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.cta:hover {
  background-color: white;
  color: #8c4300;
}

a {
  text-decoration: none;
  padding: 10px 0px;
  color: white;
}

/* Header */

header {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-family: "montserrat", sans-serif;
}

.logo {
  max-width: 115px;
  height: auto;
  padding: 0px 55px 0px 20px;
}

.navigation {
  text-align: center;
  font-weight: 550;
}

ul {
  padding: 0px;
}

li {
  display: inline;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0px 20px;
}

.nav {
  color: #0a3641;
  text-align: center;
}

.nav:hover {
  color: #8c4300;
}

a:hover {
  text-decoration: underline;
}

.icons {
  text-align: end;
  font-size: 25px;
}

.fas {
  color: #0a3641;
  padding-right: 30px;
}

.fas:hover {
  color: #8c4300;
}

/* Footer */

footer {
  background-color: #0a3641;
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: "montserrat", sans-serif;
  color: white;
}

h2 {
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.rainydays {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-signup {
  padding-left: 50px;
  padding-right: 50px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.fab {
  color: #8c4300;
  font-size: 30px;
  padding-right: 20px;
}

.fab:hover {
  color: white;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Home Page*/

main {
  display: flex;
  flex-direction: column;
  background-image: url(../images/front-page-img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 5;
}

.maintext {
  color: white;
  text-align: right;
  padding: 30px 50px 0px 0px;
}

h1 {
  font-family: "anton";
}

.slogan {
  font-family: "montserrat";
}

.cta-newcollection {
  margin-top: 50px;
}

/* Media Queries */

@media only screen and (max-width: 860px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 600px 580px;
  }

  .logo {
    max-width: 80px;
    padding: 0px;
  }

  li {
    padding: 0px 10px;
  }

  .fas {
    padding-right: 10px;
  }

  .footer-content {
    display: block;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    font-size: 14px;
  }

  .footer-address {
    margin: 0px;
  }

  a {
    font-size: 17px;
    padding: 5px;
  }

  .fab {
    font-size: 15px;
    padding: 5px;
  }

  h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  a,
  footer {
    font-size: 15px;
  }

  .logo {
    max-width: 70px;
    padding: 0px;
  }

  li {
    padding: 0px;
  }

  main {
    background-position: top;
  }

  .maintext {
    font-size: 15px;
    text-align: center;
    padding: 0px;
  }

  h1,
  .slogan {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .cta-newcollection {
    margin-top: 270px;
  }
}
